<ion-content [fullscreen]="true" class="temp-formacion">

  <div class="banner">
    <div class="content">
      <h4 class="font-400">SERVICIOS</h4>
      <h1 class="title">Formación <br> consultiva</h1>
    </div>
  </div>

  <section class="section-doit">
    <div class="content-img">

      <div id="img_1">
        <img src="/assets/images/formacion/img_1.JPG" alt="">
      </div>
      <div id="img_2">
        <img src="/assets/images/formacion/img_2.JPG" alt="">
      </div>
    </div>
    <div class="content-text">
      <h5 class="font-400">QUÉ HACEMOS</h5>
      <h1 class="font-400">Construimos formaciones para ti y para tu empresa con los contenidos más adecuados, creando
        impacto y produciendo en las personas cambios y resultados medibles.</h1>
    </div>
  </section>


  <section class="section-formacion">
    <div class="content-img">
      <img src="/assets/images/formacion/img_3.jpg" alt="">
    </div>

    <h4 class="font-400">FORMACIÓN CONSULTIVA</h4>

    <div class="section">
      <h1 class="font-400">¿Por qué nos necesitas?</h1>
      <p>
        Porque los equipos se desconectan de los valores de la compañía y no se enfocan en alcanzar los objetivos que se
        proponen. Entran en bucles de hastío, desmotivación, monotonía o comodidad que empeoran las relaciones
        interpersonales, alientan el conflicto y alejan al equipo de la eficacia y la excelencia.
      </p>
    </div>

    <div class="section">
      <h1 class="font-400">¿Cómo trabajamos?</h1>
      <p>
        Creamos formaciones a medida en el aprendizaje de liderazgo, comunicación efectiva, bienestar laboral,
        negociación, marca personal, protocolo, ventas, gestión del estrés, resiliencia, resolución de conflictos, soft
        skills, son solo algunos ejemplos de las temáticas que tu equipo puede entrenar.
      </p>

      <p>
        Para conocer las necesidades de tu empresa, elaboramos un briefing exhaustivo que nos permite detectar y
        consensuar los contenidos más adecuados y efectivos que impartimos con una metodología basada en:
      </p>
    </div>

    <div class="list-cards">
      <div class="card">
        <mat-icon  fontIcon="check_circle_outline"></mat-icon>
        <h1>La creación de anclajes</h1>
      </div>

      <div class="card">
        <mat-icon  fontIcon="check_circle_outline"></mat-icon>
        <h1>La emisión de impactos que perduren</h1>
      </div>

      <div class="card">
        <mat-icon  fontIcon="check_circle_outline"></mat-icon>
        <h1>La asimilación por reflexión del asistente</h1>
      </div>
    </div>
  </section>


  <section class="section-swiper" >
    <h1 class="text-blue text-center">Conseguiremos que tu equipo desee generar cambios en sus conductas y hábitos, para enfocarse en un desempeño más flexible y excepcional. Te ayudamos a que tu equipo sea mejor.</h1>

    <h1 class="text-blue">Trabajamos para adaptarnos a tu empresa</h1>

    <p class="text-blue">
      Moldea tú nuestras sesiones en función de tus necesidades y objetivos.
    </p>

    <button class="btn"> ¿empezamos? </button>

    <swiper class="custom-swiper" [config]="config" #swiperOpt >
      <ng-template swiperSlide >
        <div class="card-swiper">
          <h1 class="font-400 text-green" >01</h1>
          <h4 class="text-blue" > Formación empresarial <em>In Company</em> </h4>
        </div>
      </ng-template>

      <ng-template swiperSlide >
        <div class="card-swiper">
          <h1 class="font-400 text-green" >02</h1>
          <h4 class="text-blue" > Formación online con emisiones en directo desde nuestro estudio.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide >
        <div class="card-swiper">
          <h1 class="font-400 text-green" >03</h1>
          <h4 class="text-blue" > Duraciones según necesidades del aprendizaje.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide >
        <div class="card-swiper">
          <h1 class="font-400 text-green" >04</h1>
          <h4 class="text-blue" > Paquetes de habilidades.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide >
        <div class="card-swiper">
          <h1 class="font-400 text-green" >05</h1>
          <h4 class="text-blue" > Entrenamiento en una habilidad concreta.</h4>
        </div>
      </ng-template>

    </swiper>
  </section>


  <footer>
    <img src="/assets/images/backlinefull.svg" alt="">
  </footer>
</ion-content>
