<ion-content [fullscreen]="true" class="temp-programas">

  <div class="banner">
    <div class="content">
      <h4 class="font-400">NOSOTROS</h4>
      <h1 class="title">Programas</h1>
    </div>
  </div>

  <section class="section-detail">
    <h1 class="font-400 text-blue" >
      En OyE no podemos estarnos quietos. Innovamos y renovamos constantemente para poder ofrecerte programas de calidad formativa excepcional que ayuden a tu empresa a mejorar notablemente.
    </h1>

    <p>
      Conocer a los equipos humanos es nuestra pasión. No podremos ayudaros si no lo sabemos todo de vosotros. Todos nuestros programas formativos están pensados para responder a las necesidades de cada equipo. Los moldeamos y ajustamos las veces que haga falta hasta dar con la programación perfecta. Aquí tienes algunos ejemplos:
    </p>

    <div class="list">

      <mat-accordion>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Conecta con OyE</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>
              En directo. Conectados. 4 formaciones intensivas sobre las habilidades más demandadas en sesiones de entre una hora y media o dos.
            </p>

            <button class="btn" >ver más</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Structogram® y Triogram®</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>
              Un programa exclusivo de OyE con el que podrás optimizar tus fortalezas conociéndote a ti mismo y a los demás en profundidad, lo que te proporcionará una clara ventaja en las relaciones profesionales, a las que podrás extraer mucho más rendimiento.
            </p>
            <button class="btn" >ver más</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >SkillsOn®</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>
              Un programa único e imprescindible para que los más jóvenes aprendáis habilidades que os permitirán mejorar vuestra empleabilidad. Un informe de la Universidad de Hardvard, The Future Jobs, afirma que el éxito profesional se debe a la adquisición de habilidades blandas.
            </p>
            <button class="btn" >ver más</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Universidades y escuelas corporativas</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>
              Demuestra con hechos la responsabilidad corporativa de tu empresa. Ofrece a tus empleados un marco formativo para el desarrollo profesional de tu equipo creando tu propia universidad o escuela.
            </p>
            <button class="btn" >ver más</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Los 7 perfiles</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Conocer las conductas de otras personas te proporcionará las claves para tratarles de modo adecuado, mejorar tu relación con ellos y extraer el máximo potencial de cada perfil. Conviértete en el líder que siempre quisiste ser.</p>
            <button class="btn" >ver más</button>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </section>

  <section class="section-connect" >

    <h1 class="font-400 text-blue title"> Conecta con OyE </h1>
    <h3>En directo. Conectados. 4 formaciones intensivas sobre habilidades en sesiones de entre hora y media y dos</h3>
    <p>Te proporcionamos las claves del aprendizaje de habilidades. El programa puede contar con un mínimo de cuatro sesiones y un máximo de ocho con dos modalidades:</p>

    <img src="/assets/images/programa/conecta.png" alt="">

    <div class="list">
      <div class="card">
        <h1 class="font-400 text-blue" >En exclusiva</h1>
        <p>
          Un auténtico traje a medida para tu empresa con programas diseñados para las necesidades concretas de un grupo o de toda la organización. A través de entrevistas y formularios obtenemos los datos para realizar un diagnóstico que nos permita diseñar las sesiones y elegir las habilidades más adecuadas para alcanzar los objetivos marcados.
        </p>
      </div>

      <div class="card">
        <h1 class="font-400 text-blue" >En abierto</h1>
        <p>
          A partir de los estudios e informes de instituciones y organizaciones empresariales, diseñamos el programa con las soft skills que demanda la actualidad laboral y las que marcan la diferencia en las personas. Todo para el crecimiento profesional de los equipos. Una experiencia de alto impacto.
        </p>
      </div>
    </div>
  </section>

  <section class="section-triogram" >
    <h1 class="text-green font-400" >Structogram® y Triogram®</h1>

    <h3 class="font-300" >Un programa exclusivo de OyE con el que podrás optimizar tus fortalezas conociéndote a ti mismo y a los demás en profundidad, lo que te proporcionará una clara ventaja en las relaciones profesionales, a las que podrás extraer mucho más rendimiento.</h3>

    <p>
      Structogram® y Triogram® se han convertido en uno de los entrenamientos líderes en todo el mundo. Presente en más de 25 países, es utilizado en grandes multinacionales de Suiza, Alemania, Finlandia, etc., como herramienta clave para la selección de personal, el liderazgo, la resolución de conflictos, el trato con el cliente, la utilización de la inteligencia emocional y la influencia en las relaciones interpersonales.
    </p>

    <p>
      Son dos métodos de aprendizaje y dos sistemas de entrenamiento basados en estudios científicos que avalan su calidad y fiabilidad y que están perfectamente estructurados y diferenciados:
    </p>

    <img src="/assets/images/programa/structogram.png" width="120" class="justify-self-center" alt="">


    <div class="list">
      <div class="card">
        <h4>Structogram® proporciona una visión clara de nuestros comportamientos y actitudes, en el ámbito profesional y en el personal. Nos muestra nuestro mapa cerebral y cómo actuamos, descubriendo qué aspectos de nuestras conductas enturbian o perjudican nuestras relaciones y qué talentos nos diferencian del resto.</h4>
      </div>

      <div class="card">
        <h4>
          Triogram® ayuda a identificar los mecanismos que nos permiten conocer a los demás. Así podemos adaptar mejor nuestras actitudes hacia las personas con las que nos relacionamos y conseguir nuestros objetivos por influencia positiva.
        </h4>
      </div>

      <div class="card">
        <h4>
          Structogram® Ventas ayuda a manejar eficientemente tu interacción con clientes, desde el conocimiento profundo de sus motivaciones, objeciones, necesidades y deseos. No solo se trata de vender más, sino de vender mejor y ganar relaciones duraderas y de confianza.
        </h4>
      </div>
    </div>

    <div class="section-swiper">
      <h1 class="font-400" >Es un programa idóneo para:</h1>

      <swiper class="custom-swiper" [config]="config" #swiperOpt >
        <ng-template swiperSlide >
          <div class="card-swiper">
            <h1 class="font-400 text-green" >01</h1>
            <h4 class="font-400" >
              Responsable de equipos, empresarios/as o directivos/as para entender mejor la dinámica del comportamiento de tus equipos y mejorar tu capacidad de diagnóstico en las situaciones problemáticas.
            </h4>
          </div>
        </ng-template>

        <ng-template swiperSlide >
          <div class="card-swiper">
            <h1 class="font-400 text-green" >02</h1>
            <h4   class="font-400" >
              Responsables de RRHH, te ayudará a mejorar tus capacidades de cara a la selección de personal, aprenderás a mejorar el clima laboral, sabrás manejar mejor la motivación de los demás y asignarás tareas y responsabilidades de un modo mucho más eficaz.
            </h4>
          </div>
        </ng-template>

        <ng-template swiperSlide >
          <div class="card-swiper">
            <h1 class="font-400 text-green" >03</h1>
            <h4  class="font-400"  >
              Orientadores laborales, orientadores educativos, coachs o formadores, será el complemento perfecto para extraer el máximo potencial a las personas que te rodean.
            </h4>
          </div>
        </ng-template>

        <ng-template swiperSlide >
          <div class="card-swiper">
            <h1 class="font-400 text-green" >04</h1>
            <h4  class="font-400"  >
              Cualquier persona que trabaje con personas o desee crecer personal y/o profesionalmente.
            </h4>
          </div>
        </ng-template>

        <ng-template swiperSlide >
          <div class="card-swiper">
            <h1 class="font-400 text-green" >05</h1>
            <h4  class="font-400"  >Responsables y equipos comerciales y de atención al cliente. </h4>
          </div>
        </ng-template>

      </swiper>
    </div>
  </section>


  <section class="section-skill" >
    <img src="/assets/images/programa/skill.png" class="justify-self-center" width="200" alt="">

    <div class="card">
      <h4 class="font-400">
        Ser un líder carismático, aprender a comunicarte con asertividad, ser autorresponsable, conocer los entresijos de un buen trabajo en equipo, que seas proactivo o conocer y usar tu inteligencia emocional, son sólo algunos ejemplos de lo que te enseñaremos para hacer brillar tu talento. Sé especial y diferente y dale a las empresas lo que buscan.
      </h4>
    </div>

    <div class="card">
      <h1 class="font-400 text-green">
        <em class="text-green" >SkillsOn®</em> sports
      </h1>
      <h4 class="font-400">
        En su versión dirigida a deportistas, SkillsOn te proporciona herramientas y claves para ser mejor. Integramos habilidades en tu práctica deportiva, ya sea profesional o amateur para que potencies tus resultados, tu liderazgo o tu gestión personal del cambio, éxitos y fracasos.
      </h4>
    </div>

    <div class="section">
      <h1 class="font-400 text-blue"> Lo necesitas </h1>
      <p class="text-blue" >
        Si tienes entre 18 y 26 años, tienes inquietudes y tras tu formación académica tienes la sensación de ser un pez más en el océano de los profesionales, SkillsOn® es para ti.
      </p>
    </div>

    <div class="section">
      <h1 class="font-400 text-blue"> Qué haremos </h1>

      <div class="list">
        <h3>Formaciones de alto impacto.</h3>
        <h3>100% participativas.</h3>
        <h3>Implicación de los asistentes desde el comienzo.</h3>
        <h3>Aprendizaje de llaves y claves más importantes.</h3>
        <h3>Interacción con nuestros consultores y con profesionales invitados de diferentes ramos que te proporcionarán trucos útiles.</h3>
        <h3>Sesiones amenas y con mucho ritmo, pensadas para que no te aburras.</h3>

      </div>
    </div>
  </section>


  <section class="section-school" >
    <h1 class="font-400">Universidades y escuelas corporativas</h1>

    <h3 class="text-blue font-400">
      Creamos para ti un sistema formativo integral que va más allá del aprendizaje de habilidades. Una inversión en la mejora continua para que las personas de tu organización se focalicen y multipliquen sus resultados.
    </h3>

    <h2 class="font-400" >Cuáles son los beneficios</h2>

    <h4 class="font-400 text-black" >
      Para los asistentes es una oportunidad de obtener un verdadero sentido de pertenencia. A través de las Universidades y Escuelas corporativas, se actualizan los conocimientos y resolverán carencias. Tu equipo potenciará su desempeño actual y mejorarán sus posibilidades de promoción interna.
    </h4>

    <h4 class="font-400 text-black" >
      Para tu empresa es la mejor manera de mostrar su propósito estratégico y su compromiso social y corporativo. Mejoraremos la alineación entre la dirección, los mandos intermedios y la plantilla. Tú empresa será diferente mejorando su reputación en ámbitos y stakeholders externos.
    </h4>


    <h2 class="font-400">
      Lo necesitas
    </h2>

    <div class="list">
      <h4>Si tu empresa es moderna y con un modelo de liderazgo volcado en el capital humano.</h4>
      <h4>Si deseas que tus colaboradores entrenen habilidades generales o específicas para un desempeño más productivo.</h4>
      <h4>Si quieres que tu empresa sea más eficiente.</h4>
      <h4>Si te gustaría mejorar el compromiso de tu equipo con la empresa.</h4>
      <h4>Si quieres mejorar el clima laboral.</h4>
      <h4>Si deseas diferenciarte del resto de competidores.</h4>
    </div>

    <h2 class="font-400">
      Qué haremos
    </h2>

    <div class="list">
      <h4>Diseño de la identidad corporativa de la Universidad/Escuela (logotipo, dosieres de presentación interna, flyers para presentación externa, etc.).</h4>
      <h4>Labor consultiva para elaborar el plan estratégico de la Universidad/Escuela en colaboración con el equipo de trabajo que tú elijas que nos permita detectar necesidades y problemas reales que se abordarán.</h4>
      <h4>Diseño de un plan formativo que nos permitirá trabajar los cambios deseados en las competencias, actitudes y comportamientos de tus colaboradores. Definimos la metodología, el formato y la logística para alcanzar el éxito.</h4>
    </div>

  </section>

  <section class="section-profile" >
    <h1 class="font-400 text-blue"> Los 7 perfiles </h1>

    <h3 class="font-400" >
      Conocer las conductas de otras personas te proporcionará las claves para tratarles de modo adecuado, mejorar tu relación con ellos y extraer el máximo potencial de cada perfil. Conviértete en el líder que siempre quisiste ser.
    </h3>

    <h4 class="font-400">
      A través del estudio de los perfiles más frecuentes entre los equipos humanos, hemos definido conductas habituales en las personas con las que colaboramos y nos relacionamos.
    </h4>

    <div class="list">
      <h4>Un viaje para conocer en profundidad los distintos perfiles de comportamiento, que te permitirán:</h4>
      <h4>Identificarles fácilmente.</h4>
      <h4>Tratarles de modo más eficaz, potenciando las ventajas de cada uno de ellos.</h4>
      <h4>Evitar los conflictos derivados de los hábitos y conductas negativos.</h4>
      <h4>Integrarlos mejor en los equipos.</h4>
      <h4>Mejorar la asignación de tareas y desempeños.</h4>
      <h4>Ejercer un liderazgo por influencia excelente.</h4>
    </div>

    <h3 class="font-400" >
      Cómo lo haremos
    </h3>

    <h4 class="font-400" >
      En 7+1 sesión sorpresa que podrán ser virtuales o presenciales, recorremos las personalidades de los perfiles para dominar de cada uno de ellos la comunicación verbal y no verbal, sus conductas más habituales y las mejores estrategias para tratarles.
    </h4>
  </section>

  <section class="section-go" >
    <h1 class="font-400 text-blue" >Diseña con nosotros tu programa formativo</h1>

    <button class="btn" routerLink="/metodo" >
      ¿empezamos?
    </button>
  </section>


  <footer>
    <img src="/assets/images/footer-geometry.svg" alt="">
  </footer>
</ion-content>
