<ion-content [fullscreen]="true" class="temp-consulta">

  <div class="banner">
    <div class="content">
      <h4 class="font-400">SERVICIOS</h4>
      <h1 class="title">Consultoría <br> estratégica</h1>
    </div>
  </div>

  <section class="section-doit">

    <div class="content-img">

      <div id="img_1">
        <img src="/assets/images/consulta/img_1.JPG" alt="">
      </div>
      <div id="img_2">
        <img src="/assets/images/consulta/img_2.JPG" alt="">
      </div>
    </div>
    <div class="content-text">
      <h5 class="font-400">QUÉ HACEMOS</h5>
      <h1 class="font-400">Ponemos a tu empresa camino del éxito productivo a través del diseño de estrategias
        empresariales y el acompañamiento en su implementación.</h1>
    </div>

  </section>

  <section class="section-list">
    <h4 class="font-400"> CONSULTORÍA ESTRATÉGICA </h4>

    <h1 class="text-blue title">¿Por qué nos necesitas?</h1>

    <p>
      A través de nuestro servicio de consultoría estratégica obtendrás las claves para mejorar tus procesos
      productivos, las relaciones interdepartamentales y crecer.
    </p>

    <p>
      Más de 20 años de experiencia en el acompañamiento hacia el éxito de nuestros clientes que atestiguan cómo OyE les
      ayudó a optimizar sus empresas y a obtener resultados objetivos.
    </p>


    <div class="list">
      <div class="card">
        <h1 class="text-blue">01</h1>
        <p>
          Porque no consigues alcanzar los volúmenes de venta que consideras factibles.
        </p>
      </div>

      <div class="card">
        <h1 class="text-blue">02</h1>
        <p>
          Porque tu empresa es un ser vivo que se ve envuelta en una vorágine de facturación, pero estancada en
          crecimiento, evolución y mejora.
        </p>
      </div>

      <div class="card">
        <h1 class="text-blue">03</h1>
        <p>
          Porque los procedimientos no se adaptan correctamente al crecimiento de tu empresa a lo largo de los años.
        </p>
      </div>

      <div class="card">
        <h1 class="text-blue">04</h1>
        <p>
          Simplemente, porque hay cosas que no van bien.
        </p>
      </div>
    </div>
  </section>


  <section class="swiper-how-section">
    <h1 class="font-400">Cómo le hacemos</h1>

    <p>
      Nuestro proceso de consultoría estratégica se implementa en diferentes fases para poder garantizar su eficiencia:
    </p>

    <button class="btn"> ¿te ayudamos? </button>


    <swiper class="custom-swiper" [config]="config" #swiperOpt >
      <ng-template swiperSlide>
        <div class="card-swiper">
          <h1 class="font-400 text-green">01</h1>
          <h4>Briefing inicial exhaustivo, analizando contigo tareas, procedimientos, liderazgos, sistemas, etc. que se
            celebran en tu empresa para conoceros a fondo.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="card-swiper">
          <h1 class="font-400 text-green">02</h1>
          <h4>Asignación de consultor/a: elegimos las personas de nuestro equipo más adecuadas para tu empresa y
            situación, con contacto permanente con contacto 24/7 365 días al año.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="card-swiper">
          <h1 class="font-400 text-green">03</h1>
          <h4>Informe inicial: te contamos las conclusiones del briefing para consensuar contigo el diseño de una
            estrategia operativa adecuada y enfocada en la mejora.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="card-swiper">
          <h1 class="font-400 text-green">04</h1>
          <h4> Te guiamos en todo el proceso, estamos a tu lado y de tu equipo durante la implementación de medidas, con
            contacto permanente por vía telemática y una reunión de trabajo presencial mensual.</h4>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="card-swiper">
          <h1 class="font-400 text-green">05</h1>
          <h4> Nuestro comportamiento no es de consultores al uso, somos un partner permanente, estratégico en tus
            decisiones y en tu bienestar corporativo. </h4>
        </div>
      </ng-template>
    </swiper>
  </section>


  <footer>
    <img src="/assets/images/backlinefull.svg" alt="">
  </footer>
</ion-content>
