@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/font/Ubuntu-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/font/Ubuntu-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 100;
  src: url('../assets/font/Ubuntu-ThinItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/font/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/font/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/font/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/font/Ubuntu-BlackItalic.ttf') format('truetype');
}


@function calculateRem($size) {
  $remSize: calc($size / 16px);
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size)*1.5;
}


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  @include font-size(16px);

  scrollbar-width: thin !important;
  scrollbar-color: #00BCD4 #090c1073 !important;

  *::-webkit-scrollbar {
    width: 7px !important;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #090c1073;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00BCD4;
    border-radius: 20px;
    // border: 3px solid rgba(69,69,69,.09);
  }
}


html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: "Ubuntu";
  @include font-size(15px);
  position: relative;
  background-color: white !important;
}

a {
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
  color: white;
}

h1 {
  @include font-size(21px)
}

h2 {
  @include font-size(19px)
}

h3 {
  @include font-size(17px)
}

h4 {
  @include font-size(15px)
}

h5, p {
  @include font-size(13px)
}


/* *
*   ###################### FUENTES #####################################
* */

.font-100 {
  font-weight: 100 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-900 {
  font-weight: 900 !important;
}


.text-green{
  color: var(--oye-green) !important;
}

.text-blue{
  color: var(--oye-blue) !important;
}

.text-black{
  color: black !important;
}

.text-white{
  color: white !important;
}

/* *
*   ###################### POSITIONS #####################################
* */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}


.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-stretch {
  justify-self: stretch;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}


.grid {
  display: grid !important;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}



.btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
