<ion-content [fullscreen]="true" class="temp-metodo">

  <div class="banner">
    <div class="content">
      <h4 class="font-400">NOSOTROS</h4>
      <h1 class="title">Nuestro método</h1>
    </div>
  </div>

  <section class="section-info">

    <h1 class="font-400 text-blue">
      En OyE nos hemos propuesto ayudar a las empresas a explorar su potencial y convertirlo en productividad y éxito.
    </h1>

    <p>
      Es una labor cercana, de trabajo codo con codo con nuestros clientes, a los que nos esforzamos por conocer para
      poder ofrecerles la estrategia más adecuada que les permita crecer, mejorar sus resultados y ser diferentes a sus
      competidor
    </p>

    <p>
      Te damos soporte, acompañándote en todo el proceso de mejora, involucramos a tu plantilla para alinearla con tus
      objetivos y con los valores de la compañía.
    </p>

    <p>
      Te abrimos la puerta de la excelencia empresaria
    </p>
  </section>

  <div class="card-buy">
    <h1 class="font-400">Nuestros libros recogen algunos de nuestros aprendizajes y conocimientos. Compártelos con
      nosotros.</h1>
    <button class="btn justify-self-start">quiero comprarlos</button>

    <img id="geometry" src="/assets/images/geometry-1.svg" alt="">
  </div>

  <section class="section-contact">
    <h1 class="font-500 text-blue"> Comienza el cambio. ¿Hablamos? </h1>
    <a href="mailto:info@oportunidadesyestrategias.com" class="btn">
      <ion-icon name="mail" class="icon"></ion-icon>
      info@oportunidadesyestrategias.com
    </a>
    <a href="tel:659868454" class="btn">
      <ion-icon name="call" class="icon"></ion-icon>
      659 868 454
    </a>
  </section>
  <footer>
    <img src="/assets/images/backlinefull.svg" alt="">
  </footer>
</ion-content>
