<ion-content [fullscreen]="true" class="temp-formacion">


  <div class="banner">
    <div class="content">
      <h4 class="font-400">SERVICIOS</h4>
      <h1 class="title">Team Building</h1>
    </div>
  </div>


  <section class="section-doit">
    <div class="content-img">

      <div id="img_1">
        <img src="/assets/images/team/img_1.jpg" alt="">
      </div>
      <div id="img_2">
        <img src="/assets/images/team/img_2.jpg" alt="">
      </div>
    </div>
    <div class="content-text">
      <h5 class="font-400">QUÉ HACEMOS</h5>
      <h1 class="font-400">Extraemos el talento de tu equipo y mejoramos su motivación, a través de una jornada inolvidable en la que construiremos relaciones sólidas entre las personas.</h1>
    </div>
  </section>


  <section class="section-build">

    <h4 class="font-400">TEAM BUILDING</h4>

    <div class="section">
      <h1 class="font-600 text-blue">¿Por qué nos necesitas?</h1>
      <p>
        Los equipos necesitan a veces cambios en sus dinámicas habituales para pisar zonas de redescubrimiento y mejora de las relaciones.
      </p>

      <p>
        Con nuestros team buildings, tu equipo podrá explorar sus habilidades y talentos, estrechar lazos con el resto de los integrantes y divertirse en una sesión inigualable que recordarán y te agradecerán siempre.
      </p>
    </div>

    <div class="content-img">
      <div class="img">
        <img src="/assets/images/team/img_3.jpg" alt="">
      </div>
    </div>

  </section>

  <section class="content-todo" >
    <h5 class="font-400" >TEAM BUILDING</h5>

    <h1 class="font-600 text-blue" >Qué vamos a hacer</h1>

    <iframe class="y-video" src="https://www.youtube.com/embed/f17lJaTua0c" title="Team Building ¡Al abordaje! | Oportunidades y Estrategias" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div class="list">
      <mat-accordion>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >¡Al abordaje!</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Sois piratas en busca de un magnífico tesoro que solo conseguirá una tripulación. ¿Qué tal te desenvuelves en duelos, pruebas de puntería o construcción de mapas? Si buscas trabajar tu capacidad de razonamiento, la gestión adecuada del conflicto, la comunicación o el fortalecimiento de tu equipo, aquí tienes la clave.</p>
            <img src="/assets/images/team/pirate.png" width="120" alt="">
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >La edad de hielo</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Entrenar la creatividad, la motivación, el liderazgo, la flexibilidad o la comunicación, nunca fue tan fácil. ¿Qué haríais si el Gran Glaciar que proporciona a tu tribu seguridad, cobijo y alimento se deshiciera inundando y destruyendo todo a su paso?</p>
            <img src="/assets/images/team/ice.png" width="120" alt="">
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >La fiebre del oro</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>¿Qué te parecería que tu equipo volviera al lejano oeste? Un team building pensado para desatar el sheriff, la bailarina de cabaré o el pistolero malvado que llevas dentro. Compite por conseguir el oro antes que los forajidos de otros equipos te lo roben.</p>
            <img src="/assets/images/team/gold.png" width="120" alt="">
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >La isla</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Tu equipo ha naufragado y estáis solos, sin recursos en una isla desierta ¿o no? Liderazgo, motivación, pensamiento crítico y diseño de estrategias ganadoras son algunas de las habilidades que entrenarás.</p>
            <img src="/assets/images/team/isla.png" width="120" alt="">
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Cook Island</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Podréis participar en un concurso culinario mientras degustáis un menú temático trabajando vuestro liderazgo, la empatía, la escucha activa, el pensamiento crítico y potenciando las relaciones personales.</p>
            <img src="/assets/images/team/cook.png" width="120" alt="">
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="text-blue" >Volver a ser niños</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="description">
            <p>Regresa a tu niñez, pinta, tírate al suelo, juega con tus compañeros y, sobre todo, ríete mucho mientras trabajas habilidades como el trabajo en equipo, la comunicación efectiva, la creatividad o la gestión del estrés.</p>
            <img src="/assets/images/team/child.png" width="120" alt="">
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </section>


  <footer>
    <img src="/assets/images/backlinefull.svg" alt="">
  </footer>
</ion-content>
